@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="beach-background">
    <div class="container">
        <div class="row small-spacing">
        </div>
        <div class="row backdrop">
            <div class="col-md-1">
            </div>

            <div class="orange weather">
                <div class="row">
                    <div class="">
                        <h2>Player name: @Model["player"].GetUsername()</h2>
                        <h1 class="fancy">Weather</h1>
                        <h2>@Model["game"].GetTemperature()&degF and @Model["game"].GetForecast()</h2>
                    </div>
                </div>
                <div class="row">
                    <h1>Cost Per Pitcher: $<span id="pitcher-price">@Model["game"].GetPitcherPrice()</span></h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="prices chalkboard">
                    <div class="row">
                        <h3>You currently have: $<span id="player-money">@Model["player"].GetMoney()</span></h3>
                        <form class="form-inline" action="/results" method="post">
                            <div class="form-group">
                                <label for="cup">Price Per Cup</label>
                                <input class="form-control" id="small-input" type="number" name="cup" step="0.10" max="3">
                            </div>
                            <div class="form-group">
                                <label for="pitcher">Number of Pitchers</label>
                                <input class="form-control" id="tiny-input"" type="number" id="pitcher" name="pitcher" min="0" max="@Model["limit"]" required>
                            </div>
                            <input type="hidden" name="game-id" value="@Model["game"].GetId()">
                            <button class="btn btn-info" id="tiny-input" type="submit" name="submit">Play!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="lemonade-stand col-md-7">
                <img src="../Content/img/stand.png"/>
            </div>
        </div>
    </div>
</div>
